container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_see:
    command: "python manage.py loaddata seed.json"
    leader_only: true
  03_chown_sqlitedb:
    command: "sudo chown wsgi db.sqlite3"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: nugu.settings